.finalScreenContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 380px;
  background-color: #86d3f4;
  padding: 0px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 42;
}
.finalFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: black;
}
.finalTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}
.finalMessage {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
