.confirmButton {
  width: 284px;
  background-color: transparent;
  border: 1px solid #4e4e4e;
  padding: 12px 0px;
  font-weight: 500;
  font-size: 16px;
  color: #4e4e4e;
}
.confirmButton:hover {
  border-color: white;
}
.confirmButton:focus {
  background-color: black;
  color: white;
}
.numberFieldContainer {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}
.confirmButton:disabled:hover {
  border-color: #4e4e4e;
}
